div {
    color: white;
}


header {
    height: 40px;
    text-align: center;
    font-size: 3vw;
}

.complete_game {
    min-height: 300px;
    max-height: 300px;
    background-color: black;
}


.titles {
    display: flex;
    justify-content: space-around;
}

.gameplay_container{
    display: flex;
    justify-content: space-around;
}

.bottom_container {
    display: flex;
    justify-content: space-around;
}
.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 170px;
    width: 170px;
    background-color: rgb(47, 97, 99);
}
.player1_board_squares, .player2_board_squares {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height:14px;
    width: 14px;
    background-color: cadetblue;
    border: .25px solid white;
}
