@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

/* ____________ MAIN PAGE DIVS ____________ */
.complete_game{
    color: white;
    font-family: 'Notable', sans-serif;
    min-height: 1000px;
    min-width: 725px;
    max-height: 1000px;
    background-color: rgb(19, 35, 70);
}

header {
    text-align: center;
    font-size: 5vw;
    padding: 15px;
}

.titles {
    display: flex;
    justify-content: center;
    font-size: 1vw;
}

h2 {
    margin: 0px 125px;
}
h3 {
    margin: 0px 125px;
}
.red {
    color: rgb(206, 202, 202)
}

.blue {
    color: rgb(180, 204, 216);
}
.gameplay_container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: baseline;  
}

.bottom_container {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

/*________________ GAMEBOARD STYLE_______________ */
.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px 95px;
    height: 170px;
    width: 160px;
    background-color: rgb(47, 97, 99);
}

#player1_board {
    background-image: url(https://i.imgur.com/dO5S7gMb.jpg);
}

#player2_board {
    background-image: url(https://i.imgur.com/Yl3ah0Kb.jpg);
}

.player1_board_squares, .player2_board_squares {
    display: flex;
    flex-flow: row;
    justify-content: center;
    height:14px;
    width: 14px;
    /* background-color: cadetblue; */
    border: .25px solid white;
    opacity: 0.5;
}


/*__________________ SHIP STYLE ________________*/
.player1_ships, .player2_ships { 
    display: flex;
    flex-flow: column;
    margin: 8px 2px; 
}
.carrier {
    height: 17px;
    width: 80px;
    border-radius: 6px;
}

.battleship {
    height: 17px;
    width: 63px;
}

.cruiser {
    height: 17px;
    width: 48px;
}

.submarine{
    height: 17px;
    width: 48px;    
}

.destroyer{
    height: 15px;
    width: 32px;
}

.p1ship {
    display: flex;
    flex-flow: row;
    justify-content: center;
    border-radius: 6px;
    opacity: 0.9;
    z-index: 1;
}



.p2ship {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: rgb(56, 62, 65);
    border-radius: 6px;
    opacity: 0.9
}

.player1ShipContents {
    height:14px;
    width: 14px;
    border: 1px solid gray;
    background-color:  rgb(202, 196, 196);
    border-radius: 10px;
    opacity: 0.3;
}
.player2ShipContents {
    height:14px;
    width: 14px;
    border: 1px solid gray;
    background-color: rgb(202, 196, 196);
    border-radius: 10px;
    opacity: 0.3;
}